<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://bootswatch.com/5/lux/bootstrap.css" rel="stylesheet">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TodoList</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        {% if app.user %}
                        <a class="text-white nav-link active" href="{{ path("login") }}">{{ 'home' | trans }}
                            <span class="visually-hidden">(current)</span>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="text-white nav-link" href="{{ path('todo') }}">{{ 'mestodos' | trans }}</a>
                    </li>
                    {% endif %}
                    {% if app.user %}
                        {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                            <li class="nav-item">
                        <a class="text-white nav-link" href="{{ path('admin_index') }}">Admin</a>
                        </li>{% endif %}
                    {% else %}

                    {% endif %}
                </ul>
                <div class="d-flex align-items-center my-auto">

                    {% if app.user %}
                        <small class="text-white my-auto pe-5">{{ 'bonjour' | trans}} {{ app.user.username}} {{ 'connecte' | trans }}</small>
                    {% endif %}

                    <div class="col-auto">
                        {% if app.user %}
                            <a href="{{ path("logout") }}" class="btn btn-danger rounded me-2">{{'Deconnexion' | trans}}</a>
                        {% else %}
                            <a href="{{ path("login") }}" class="btn btn-success rounded me-2">{{ 'connexion' | trans }}</a>
                            <a href="{{ path("register") }}" class="btn btn-info rounded me-2">{{ 'inscription' | trans }}</a>
                        {% endif %}
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({ _locale: 'fr' }))}}"><span class="badge rounded-pill bg-info me-3">Fr</span></a>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({ _locale: 'en' }))}}"><span class="badge rounded-pill bg-warning me-3">En</span></a>
                    </div>
                    <div>



                    </div>
                </div>
            </div>
        </div>
    </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
